<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>HOSPITAL MANAGEMENT SYSTEM</title>
</head>
<body>
    <nav>
        <h4>HOSPITAL MANAGEMENT SYSTEM</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="register">Register</a></li>
        </ul>
    </nav>
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Login Project</h1>
            <p class="lead"><p>Hospital management system is a computer system that
                 helps manage the information related to health </p>
                <p>care and aids in the job completion of health care providers effectively.</p>
                 </p>
                </p>
            <hr class="my-4">
            <p><p>They manage the data related to all departments of healthcare such as,</p>
             <p>Clinical,Financial,Laboratory,Inpatient,Outpatient,Operation,theater,Materials,</p>
            <p>Nursing,Pharmaceutical,Radiology,Pathology etc.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>